<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Show Book')"></th:block>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"></th:block>



<div class="container">

    <div>

    <h1 th:text="${book.title}"/>
<!--    <h5>-->
<!--        <li th:each="season : ${book.seasons}" th:text="${season.name}" />-->
<!--    </h5>-->
    <img th:each="img : ${book}" th:src="${book.imgPath}" alt="image" height="300rem" width="300rem"/>
    <h5 th:text="${book.author}"></h5>
    <p th:text="${book.summary}"></p>

    </div>


    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post"><button class="btn btn-success"><a th:href="@{/books/userPosts/{id}(id=${book.id})}" >View Your Posts</a></button></form>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <input type="hidden" name="current" th:value="current" />
        <button class="btn btn-success"><a th:href="@{/profile/update/{id}/current(id=${book.id})}" >Add to Currently Reading List</a></button>
    </form>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <input type="hidden" name="wish" th:value="wish" />
        <button class="btn btn-success"><a th:href="@{/profile/update/{id}/wish(id=${book.id})}" >Add to Wish to Read List</a></button>
    </form>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <input type="hidden" name="complete" th:value="complete" />
        <button class="btn btn-success"><a th:href="@{/profile/update/{id}/complete(id=${book.id})}" >Add to Already Read List</a></button>
    </form>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <button class="btn btn-success"><a th:href="'/posts/create/' + ${book.id} + '/bookPost'" >Create a Post</a></button>
    </form>

<!--        <div class="card" th:each="post : ${posts}">-->
<!--            <h1 th:text="${book.imgPath}" />-->
    <div class="img" th:each="post : ${posts}">
<!--        <a th:href="@{/books/{id}(id=${book.id})}"><img th:src="${book.imgPath}" class="rounded float-left" alt="image"/></a>-->
                <h5 th:text="${post.title}"></h5>
                <p th:text="${post.body}"></p>
            <button class="btn btn-warning"><a th:href="@{/posts/edit/{id}(id=${post.id})}" >Edit Post</a></button>
            <button class="btn btn-danger"><a th:href="@{/posts/delete/{id}(id=${post.id})}" >Delete Post</a></button>
<!--                <a th:href="@{/books/{id}(id=${book.id})}" class="btn btn-primary">View Book</a>-->
    </div>


<!--<h1 th:text="${post.title}"/>-->
<!--<h5>-->
<!--    <ul>-->
<!--    <li th:each="category : ${post.categories}" th:text="${category.name}" />-->
<!--    </ul>-->
<!--</h5>-->
<!--<img th:each="img : ${post.imgs}" th:src="${img.path}" alt="image"/>-->
<!--<p th:text="${post.body}"/>-->
<!--<a href="#" th:text="${post.user.email}"></a>-->
<!--<div>-->
<!--    <button class="btn btn-primary"><a th:href="@{/posts/edit/{id}(id=${post.id})}" >Edit Post</a></button>-->
<!--    <button class="btn btn-primary"><a th:href="@{/posts/delete/{id}(id=${post.id})}" >Delete Post</a></button>-->
<!--</div>-->





</div>



<th:block th:include="fragments/bootstrap :: scripts" ></th:block>




<th:block th:include="fragments/footer :: my-footer">
</th:block>
</body>
</html>