<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')"></th:block>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"></th:block>
<container>
<h1>Create a Post!</h1>



<!--<form th:action="@{/posts/create}" method="post">-->
<!--    Title:<br/>-->
<!--    <input type="text" name="title"/><br/>-->
<!--    Body:<br/>-->
<!--    <input type="text" name="body"/><br/><br/>-->
<!--    images:<br/>-->
<!--    <input type="text" name="path"/><br/><br/>-->
<!--&lt;!&ndash;    Categories:<br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <select multiple name="categories">&ndash;&gt;-->
<!--&lt;!&ndash;        <option th:value="">Volvo</option>&ndash;&gt;-->

<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--    <button class="btn btn-info">Create</button>-->
<!--</form>-->

<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />
    <button class="btn btn-info">Create</button>
</form>

</container>

<th:block th:include="fragments/bootstrap :: scripts" ></th:block>




<th:block th:include="fragments/footer :: my-footer">
</th:block>
</body>
</html>