<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')"></th:block>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"></th:block>
<br/><br/>


<div class="alert alert-danger" th:if="${param.error}">
    There was an Error Editing this post.
</div>

<div class="container">
<!--edit form below-->

<form th:action="@{'/posts/edit/' + ${post.id}}" th:method="post" th:object="${post}">
    Title:<br/>
    <input type="text"  th:field="*{title}"/><br/>
    Body:<br/>
    <input type="text"  th:field="*{body}"/><br/><br/>
<button class="btn btn-warning">Edit</button>
</form>

</div>

<th:block th:include="fragments/bootstrap :: scripts" ></th:block>




<th:block th:include="fragments/footer :: my-footer">
</th:block>
</body>
</html>