<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<footer  th:fragment="my-footer">
    <div class = "footer">
    <h6><ul class="footerul">
        <li class="footerli"><a href="#copyright">Copyrights</a></li>
        <li class="footerli"><a href="#contact">Contact</a></li>
        <li class="footerli"> <a href="#faqs">FAQs</a></li>
        <li class="footerli"><a href="#about">About</a></li>
    </ul></h6>
    </div>
</footer>



</body>
</html>