<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="main-nav" th:fragment="top-nav">
    <ul class="nav">
        <li class="nav"><a href="/home">Home</a></li>
        <li class="nav"><a href="/posts/create">Create Posts</a></li>
        <li class="nav"><a href="/posts">View posts</a></li>
        <li class="nav"><a href="/register">Register</a></li>
        <li class="nav"><a href="/login">Login</a> </li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</nav>

</body>
</html>