<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<body>
<nav class="main-nav" th:fragment="top-nav">
    <ul class="nav">
        <li class="nav"><a href="/home">Home</a></li>
        <li class="nav"><a href="/books">View Books</a></li>
        <li class="nav"><form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post"><a href="/posts/create">Create Posts</a></form></li>
        <li class="nav"><form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post"><a href="/profileView/">View Profile</a></form></li>
        <li class="nav"><form sec:authorize="isAnonymous()" th:action="@{/login}" th:method="post"><a href="/sign-up">Register</a></form></li>
<!--        <li class="nav"><form sec:authorize="isAuthenticated()" th:action="@{/login}" th:method="post"><a th:href="@{'/users/edit/' + ${user.id}}">Edit Profile</a></form></li>-->
        <li class="nav"><form sec:authorize="isAnonymous()" th:action="@{/login}" th:method="post"><a href="/login">Login</a></form></li>
        <li><form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post"><button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form></li>
    </ul>

</nav>

</body>
</html>