<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')"></th:block>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"></th:block>

<container>
<h1>Log In</h1>
<div class="alert alert-danger" th:if="${param.error}">
    Invalid Username and Password.
</div>
<div class="alert alert-warning" th:if="${param.logout}">
    You have been logged out.
</div>

<!--no form model binding due to just verifying parameters for login and ot creating or updating any information-->
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
</form>

</container>
<th:block th:include="fragments/bootstrap :: scripts" ></th:block>
<th:block th:include="fragments/footer :: my-footer"></th:block>

</body>
</html>