<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Uh-oh!')"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"></th:block>
<br/>
<br/>
<h1>Oh, noooooo!! Something went wrong!!!</h1>


<img class="d-block w-100" src="https://media0.giphy.com/media/xUySTIB6OWibQL5pU4/200.webp?cid=790b7611046fc926f63292c3bb56a1c6cdc3afbf1ccd0b77&rid=200.webp"  alt="900x400" />

<th:block th:include="fragments/bootstrap :: scripts" ></th:block>
<th:block th:include="fragments/footer :: my-footer"></th:block>

</body>
</html>